@import "../../styles/shared";

.button-wrap {
  display: inline-block;
  &:not(:last-child) {
    margin: 0 6px 6px 0;
  }
}
.default {
  @include flex(h-center);
  padding: 5px 8px;
  background-color: $fancy-element-bgr;
  color: #999;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  opacity: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  span {
    position: relative;
    z-index: 2;
    line-height: 0.95rem;
  }

  &:before,
  &:after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    height: 50%;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.65, 0.05, 0.1, 1);
    -o-transition: -o-transform 0.3s cubic-bezier(0.65, 0.05, 0.1, 1);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.65, 0.05, 0.1, 1);
    transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.1, 1);
  }

  &:before {
    top: 0;
    background-color: #515151;
    -moz-transform: translate3d(-105%, 0, 0);
    -ms-transform: translate3d(-105%, 0, 0);
    -webkit-transform: translate3d(-105%, 0, 0);
    transform: translate3d(-105%, 0, 0);
  }

  &:after {
    background-color: #3f3f3f;
    top: 50%;
    -moz-transform: translate3d(105%, 0, 0);
    -ms-transform: translate3d(105%, 0, 0);
    -webkit-transform: translate3d(105%, 0, 0);
    transform: translate3d(105%, 0, 0);
    -moz-transition-delay: 75ms;
    -o-transition-delay: 75ms;
    -webkit-transition-delay: 75ms;
    transition-delay: 75ms;
  }

  &:hover:before,
  &:hover:after,
  &.active:before,
  &.active:after {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &:hover,
  &.active {
    color: $primary;
  }

  &.active {
    cursor: default;
  }

  .icon {
    height: 24px;
    width: auto;
    margin-right: 8px;
  }
}

.neon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  color: $primary;
  overflow: hidden;
  transition: 0.2s;

  &.reflect {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    // filter: hue-rotate(290deg);
  }

  &.small {
    padding: 0 10px;
    height: 30px;
    font-size: 10px;

    i svg {
      font-size: 1.5em;
    }
  }

  &.medium {
    letter-spacing: 2px;
    padding: 0 15px;
    height: 40px;
    font-size: 12px;
  }

  &.large {
    letter-spacing: 4px;
    font-size: 14px;
    padding: 0 30px;
    height: 50px;
  }

  i {
    margin-left: 10px;
    line-height: 0;
  }

  &:hover {
    color: $primary-bgr;
    background-color: $primary;
    box-shadow: 0 0 10px $primary, 0 0 40px $primary, 0 0 80px $primary;
    transition-delay: 0.75s;

    span {
      &:nth-child(1) {
        left: 100%;
        transition: 0.75s;
      }
      &:nth-child(2) {
        top: 100%;
        transition: 0.75s;
        transition-delay: 0.25s;
      }
      &:nth-child(3) {
        right: 100%;
        transition: 0.75s;
        transition-delay: 0.5s;
      }
      &:nth-child(4) {
        bottom: 100%;
        transition: 0.75s;
        transition-delay: 0.75s;
      }
    }
  }
  span {
    position: absolute;
    display: block;

    &:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, $primary);
    }
    &:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, $primary);
    }
    &:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, $primary);
    }
    &:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, $primary);
    }
  }
}

.back-list {
  position: relative;
  width: 52px;
  height: 55px;
  display: block;
  -moz-transition: -moz-transform 0.25s ease-out 0.3s;
  -o-transition: -o-transform 0.25s ease-out 0.3s;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out 0.3s;

  i {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #7a7a7a;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    -moz-transition: -moz-transform 0.15s ease-out;
    -o-transition: -o-transform 0.15s ease-out;
    -webkit-transition: -webkit-transform 0.15s ease-out;
    transition: transform 0.15s ease-out;

    &:nth-child(1) {
      -moz-transform: translateY(-11px) translateX(-11px);
      -ms-transform: translateY(-11px) translateX(-11px);
      -webkit-transform: translateY(-11px) translateX(-11px);
      transform: translateY(-11px) translateX(-11px);
    }

    &:nth-child(2) {
      -moz-transform: translateY(-11px) translateX(0);
      -ms-transform: translateY(-11px) translateX(0);
      -webkit-transform: translateY(-11px) translateX(0);
      transform: translateY(-11px) translateX(0);
    }

    &:nth-child(3) {
      -moz-transform: translateY(-11px) translateX(11px);
      -ms-transform: translateY(-11px) translateX(11px);
      -webkit-transform: translateY(-11px) translateX(11px);
      transform: translateY(-11px) translateX(11px);
    }

    &:nth-child(4) {
      -moz-transform: translateX(-11px);
      -ms-transform: translateX(-11px);
      -webkit-transform: translateX(-11px);
      transform: translateX(-11px);
    }

    &:nth-child(6) {
      -moz-transform: translateX(11px);
      -ms-transform: translateX(11px);
      -webkit-transform: translateX(11px);
      transform: translateX(11px);
    }

    &:nth-child(7) {
      -moz-transform: translateY(11px) translateX(-11px);
      -ms-transform: translateY(11px) translateX(-11px);
      -webkit-transform: translateY(11px) translateX(-11px);
      transform: translateY(11px) translateX(-11px);
    }

    &:nth-child(8) {
      -moz-transform: translateY(11px);
      -ms-transform: translateY(11px);
      -webkit-transform: translateY(11px);
      transform: translateY(11px);
    }

    &:nth-child(9) {
      -moz-transform: translateY(11px) translateX(11px);
      -ms-transform: translateY(11px) translateX(11px);
      -webkit-transform: translateY(11px) translateX(11px);
      transform: translateY(11px) translateX(11px);
    }
  }
  span {
    display: inline-block;
    color: #8a8a8a;
    position: absolute;
    white-space: nowrap;
    top: calc(50% - 15.5px);
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    opacity: 0;
    text-transform: lowercase;
    font-size: 1.15em;
    line-height: 1.7em;
    -moz-transition: opacity 0.1s ease 0.125s, -moz-transform 0.3s cubic-bezier(0, 0, 0, 1) 0.125s;
    -o-transition: opacity 0.1s ease 0.125s, -o-transform 0.3s cubic-bezier(0, 0, 0, 1) 0.125s;
    -webkit-transition: opacity 0.1s ease, -webkit-transform 0.3s cubic-bezier(0, 0, 0, 1);
    transition: opacity 0.1s ease 0.125s, transform 0.3s cubic-bezier(0, 0, 0, 1) 0.125s;
  }
  &:hover i {
    &:nth-child(1) {
      -moz-transform: translateY(-14px) translateX(-14px);
      -ms-transform: translateY(-14px) translateX(-14px);
      -webkit-transform: translateY(-14px) translateX(-14px);
      transform: translateY(-14px) translateX(-14px);
    }

    &:nth-child(2) {
      -moz-transform: translateY(-14px) translateX(0);
      -ms-transform: translateY(-14px) translateX(0);
      -webkit-transform: translateY(-14px) translateX(0);
      transform: translateY(-14px) translateX(0);
    }

    &:nth-child(3) {
      -moz-transform: translateY(-14px) translateX(14px);
      -ms-transform: translateY(-14px) translateX(14px);
      -webkit-transform: translateY(-14px) translateX(14px);
      transform: translateY(-14px) translateX(14px);
    }

    &:nth-child(4) {
      -moz-transform: translateY(0) translateX(-14px);
      -ms-transform: translateY(0) translateX(-14px);
      -webkit-transform: translateY(0) translateX(-14px);
      transform: translateY(0) translateX(-14px);
    }

    &:nth-child(6) {
      -moz-transform: translateY(0) translateX(14px);
      -ms-transform: translateY(0) translateX(14px);
      -webkit-transform: translateY(0) translateX(14px);
      transform: translateY(0) translateX(14px);
    }

    &:nth-child(7) {
      -moz-transform: translateY(14px) translateX(-14px);
      -ms-transform: translateY(14px) translateX(-14px);
      -webkit-transform: translateY(14px) translateX(-14px);
      transform: translateY(14px) translateX(-14px);
    }
    &:nth-child(8) {
      -moz-transform: translateY(14px) translateX(0);
      -ms-transform: translateY(14px) translateX(0);
      -webkit-transform: translateY(14px) translateX(0);
      transform: translateY(14px) translateX(0);
    }
    &:nth-child(9) {
      -moz-transform: translateY(14px) translateX(14px);
      -ms-transform: translateY(14px) translateX(14px);
      -webkit-transform: translateY(14px) translateX(14px);
      transform: translateY(14px) translateX(14px);
    }
  }
}
