@import "./shared";

// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Source Sans Pro', sans-serif;

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: $primary-text;
  text-decoration: none;
}

*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font: 400 14px / 22px "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: $primary-bgr;
  color: $primary-text;
}

h1,
h2,
h3,
h4 {
  color: $primary-text;
}

hr {
  height: 1px;
  background-color: #484848;
  border: 0;
}

ul {
  list-style: circle;
  padding: 0 0 0 17px;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex.row {
  flex-direction: row;
}
.flex.column {
  flex-direction: column;
}
/*
=======================
        Fancy
=======================
*/
button.fancy,
div.fancy,
span.fancy {
  display: inline-block;
  position: relative;
  overflow-x: hidden;
  margin-bottom: -6px;
  padding: 0 2px;
}
button.fancy:after,
button.fancy:before,
div.fancy:after,
div.fancy:before,
span.fancy:after,
span.fancy:before {
  content: " ";
  position: absolute;
  height: 12px;
  width: 100%;
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
button.fancy:before,
div.fancy:before,
span.fancy:before {
  top: 0;
  left: 0;
  background-color: #3a3a3a;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  transform: translateX(-101%);
}
button.fancy:after,
div.fancy:after,
span.fancy:after {
  bottom: 0;
  right: 0;
  background-color: #3d3d3d;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  transform: translateX(101%);
}
button.fancy a,
div.fancy a,
span.fancy a {
  display: block;
  position: relative;
  z-index: 2;
  color: #9a9a9a;
  -moz-transition: color 0.25s ease-out 0.1s;
  -o-transition: color 0.25s ease-out 0.1s;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out 0.1s;
}
button.fancy:hover:after,
button.fancy:hover:before,
div.fancy:hover:after,
div.fancy:hover:before,
span.fancy:hover:after,
span.fancy:hover:before {
  transform: translateX(0%);
}
/*
=======================
      Fancy End
=======================
*/

.particles__canvas {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  opacity: 1;
}

/*
======================
    Nav Styles
======================
*/
.MuiDrawer-paper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav-wrap a {
  color: #a5a5a5;
  width: 74px;
  padding: 0;
  position: relative;
  transition: all 0.3s;
  display: block;
}

.nav-wrap a:not(:last-child) {
  margin-bottom: 3rem;
}
@media (max-width: 599px) {
  .nav-wrap a:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.nav-wrap a .icon {
  color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  opacity: 1;
  width: 100%;
}
.nav-wrap a.active .icon {
  color: $primary;
}
.nav-wrap a .title {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1.5px;
  transition: all 0.3s;
  position: absolute;
  left: 0;
  top: 5px;
  opacity: 0;
  text-align: center;
}

.nav-wrap a:hover .title {
  opacity: 1;
  color: #08fdd8;
}

.nav-wrap a:hover .icon {
  color: #08fdd8;
  opacity: 0;
  transform: translateX(0);
}

/*
======================
    Pages Styles
======================
*/
#root {
  &[aria-hidden="true"] main {
    padding-left: 75px;
  }
}
main {
  background-color: $primary-bgr;
  text-align: center;
  min-height: 100vh;
  padding: 50px 75px 0 75px;
  position: relative;
  transition: padding-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;

  @include breakpoint("sm") {
    padding: 110px 0 0;
  }

  section,
  footer {
    position: relative;
    z-index: 5;
  }

  h1 {
    font-size: 46px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 0 auto 90px;
    color: $primary;

    @include breakpoint("sm") {
      font-size: 36px;
      margin: 0 auto 70px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 6rem;
      left: 50%;
      bottom: -1rem;
      transform: translateX(-3rem);
      border-bottom: solid 4px #cacaca;
    }
  }
}

/*
================
     Loader
================
*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  animation: spin-reverse 0.6s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* 
  Loaded styles 
*/
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

/***************
**  Loader End
***************/

/*
==========================
  Contact Page Styles
==========================
*/
#contact header {
  margin-bottom: 5rem;
  position: relative;
  z-index: 1000;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  border: 0;
  background: #414141;
  height: 50px;
  font-size: 16px;
  color: #8d8d8d;
  padding: 0 20px;
  box-sizing: border-box;
}

.greeting p {
  margin-top: 2rem;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border: none;
  outline: none;
}

.contact-form textarea {
  width: 100%;
  border: 0;
  background: #414141;
  font-size: 16px;
  color: #8d8d8d;
  padding: 20px;
  box-sizing: border-box;
}

.contact-form .form-group {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.contact-form .form-group .input-label:after,
.contact-form .form-group .textarea-label:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  z-index: 99;
  border-bottom: 2px solid #08fdd8;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.contact-form .form-group .textarea-label:after {
  bottom: 4px;
}

@-moz-document url-prefix() {
  .contact-form .form-group .textarea-label:after {
    bottom: 0;
  }
}

.input-field:focus + .input-label:after,
.textarea-field:focus + .textarea-label:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.success_msg,
.error_msg {
  color: #ffffff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 300px;
  font-size: 14px;
  text-align: center;
  padding: 10px 15px;
  animation: slideIn 6s linear;
  transform: translate3d(110%, 0, 0);
  transition: transform 300ms ease-in;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.success_msg {
  background-color: #3c9526;
}

.error_msg {
  background-color: #fe1a00;
}

.success_msg div,
.error_msg div {
  font-weight: 800;
  font-size: 15px;
}
@keyframes slideIn {
  0% {
    transform: translate3d(110%, 0, 0);
  }
  3% {
    transform: translate3d(-40px, 0, 0);
  }
  5% {
    transform: translate3d(20px, 0, 0);
  }
  7% {
    transform: translate3d(-20px, 0, 0);
  }
  9% {
    transform: translate3d(0, 0, 0);
  }
  96% {
    transform: translate3d(0, 0, 0);
  }
  97% {
    transform: translate3d(-15%, 0, 0);
  }
  100% {
    transform: translate3d(110%, 0, 0);
  }
}

#contact .MuiButton-containedPrimary {
  background-color: transparent;
  color: var(--primaryColor--1);
  border: solid 1px var(--primaryColor--1);
  border-radius: 0;
  margin-top: 2rem;
}

#contact .MuiButton-containedPrimary:hover {
  color: black;
  background-color: var(--primaryColor--1);
  border-color: var(--primaryColor--1);
}

#contact .MuiButton-containedPrimary.Mui-disabled {
  border-color: #999;
  color: #999;
  cursor: pointer;
}

/*
==========================
        404
==========================
*/
.error_404_content {
  position: relative;
  z-index: 100;
  min-height: 30rem;
  justify-content: space-between;
  gap: 2rem;
}
.error_404_content h3 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.left_block {
  text-align: left;
}

.left_block .button {
  margin-top: 3rem;
  display: block;
  float: left;
}

.error_404_letter {
  position: relative;
}

.error_404_letter h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 18rem;
  color: #fff;
  font-weight: 700;
  height: 300px;
  display: flex;
  align-items: center;
}

.color h1 {
  color: var(--primaryColor--1);
}

.error_404_letter .astronaut {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -50%);
}

.astronaut img {
  transform: scale(0);
  animation: scaleOut 8s linear;
}

@keyframes scaleOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0) rotate(35deg);
  }
}
@media only screen and (max-width: 900px) {
  .error_404_content h3 {
    font-size: 2rem;
  }
  .error_404_letter h1 {
    font-size: 13rem;
  }
  .error_404_content {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 700px) {
  .error_404_letter h1 {
    font-size: 12rem;
  }
}
