:root {
  --primaryColor: #2a2a2a;
  --secondaryColor: #a5a5a5;
  --primaryColor--1: #08fdd8;
  --secondaryColor--2: #ff0077;
  --grey: #cacaca;
  --grey2: #8a8a8a;
  --grey3: #999999;
}

a {
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: block;
}

h1,
h2,
h3,
h4 {
  color: var(--grey);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex.row {
  flex-direction: row;
}

/*
*   Pages Styles
*/

.page__content {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  text-align: center;
  min-height: 100vh;
  padding: 5rem 0;
  position: relative;
}
/***************
**  Loader
***************/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  animation: spin-reverse 0.6s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* 
  Loaded styles 
*/
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

/***************
**  Loader End
***************/

#portfolio header,
#portfolio main {
  text-align: left;
  font-size: 1.15rem;
  color: var(--grey2);
}

@media only screen and (max-width: 1450px) {
  /* md */
  .page__content {
    padding-left: 4.7rem;
    padding-right: 0;
  }
}

@media only screen and (max-width: 960px) {
  /* sm */
}

@media only screen and (max-width: 600px) {
  /* xs */
  .page__content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/*
*   Filters Styles
*/
.filters {
  margin: 1rem -3px;
}

.filters ul,
.skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skills ul {
  margin: 0.9rem -3px;
}

.filters li,
.skills li,
.tags li,
.grid__list .learn__more {
  display: inline-block;
  padding: 8px 5px;
  background-color: #313131;
  color: #999;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 0.9rem;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  margin: 3px;
  opacity: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.filters li span,
.skills li span,
.tags li span,
.grid__list .learn__more span {
  position: relative;
  z-index: 2;
}

.filters li.active:after,
.filters li.active:before,
.filters li:hover:after,
.filters li:hover:before,
.skills li:hover:after,
.skills li:hover:before,
.grid__list .learn__more:hover:after,
.grid__list .learn__more:hover:before {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.filters li.active,
.filters li:hover,
.skills li:hover,
.grid__list .learn__more:hover {
  color: var(--primaryColor--1);
}

.filters li:after,
.filters li:before,
.skills li:after,
.skills li:before,
.grid__list .learn__more:after,
.grid__list .learn__more:before {
  content: " ";
  opacity: 0.5;
  top: 0;
  left: 0;
  height: 50%;
  display: block;
  width: 100%;
  position: absolute;
  z-index: 1;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.65, 0.05, 0.1, 1);
  -o-transition: -o-transform 0.3s cubic-bezier(0.65, 0.05, 0.1, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.65, 0.05, 0.1, 1);
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.1, 1);
}

.filters li:before,
.skills li:before,
.grid__list .learn__more:before {
  top: 0;
  background-color: #515151;
  -moz-transform: translate3d(-105%, 0, 0);
  -ms-transform: translate3d(-105%, 0, 0);
  -webkit-transform: translate3d(-105%, 0, 0);
  transform: translate3d(-105%, 0, 0);
}

.filters li:after,
.skills li:after,
.grid__list .learn__more:after {
  background-color: #3f3f3f;
  top: 50%;
  -moz-transform: translate3d(105%, 0, 0);
  -ms-transform: translate3d(105%, 0, 0);
  -webkit-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
  -moz-transition-delay: 75ms;
  -o-transition-delay: 75ms;
  -webkit-transition-delay: 75ms;
  transition-delay: 75ms;
}

/*
*   Portfolio Grid Styles
*/
.grid__list .screen {
  position: relative;
  display: block;
  z-index: 10;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.grid__list .bar {
  display: block;
  position: relative;
  height: 24px;
  background-color: #ddd;
  width: 100%;
  color: #6a6a6a;
  z-index: 100;
}

.grid__list .bar i,
.grid__list .bar i:after,
.grid__list .bar i:before {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #ff5f57;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 10px;
}

.grid__list .bar i:before,
article .bar i:before {
  content: " ";
  left: 16px;
  background-color: #ffbd2e;
  top: 0;
}

.grid__list .bar i:after,
article .bar i:after {
  content: " ";
  left: 32px;
  background-color: #28ca41;
  top: 0;
}

.grid__list .bar h2,
.grid__list .bar h3 {
  content: attr(data-text);
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #8a8a8a;
}

.grid__list .main {
  background-size: cover;
  position: relative;
  background-position: center center;
  display: block;
  width: 100%;
  border-radius: 0;
  -moz-transform-style: flat;
  -webkit-transform-style: flat;
  transform-style: flat;
  z-index: 99;
}

.grid__list .main:before {
  content: "";
  position: absolute;
  z-index: 20;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.75) inset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid__list picture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.grid__list .back {
  z-index: 1;
}

.grid__list img {
  width: 100%;
  height: 100%;
  display: block;
}

.grid__list .tags {
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: block;
}

.grid__list .tags div {
  height: 100%;
  margin: 0 auto;
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
}

.grid__list .tags ul {
  display: block;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
}

.grid__list .tags li {
  padding: 5px;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-origin: 50% 50% -10px;
  transform-style: flat;
  transform: rotateX(92deg);
  transition: transform 0.285s cubic-bezier(0.5, 1.5, 0.5, 1.5);
  transition-delay: 0s;
}

.grid__list .item:hover .tags li:nth-child(1) {
  transition-delay: 0.45s;
  z-index: 12;
}

.grid__list .item:hover .tags li:nth-child(2) {
  transition-delay: 0.49s, 0.49s;
  z-index: 11;
}

.grid__list .item:hover .tags li:nth-child(3) {
  transition-delay: 0.53s, 0.53s;
  z-index: 10;
}

.grid__list .item:hover .tags li:nth-child(4) {
  transition-delay: 0.57s, 0.57s;
  z-index: 9;
}

.grid__list .item:hover .tags li:nth-child(5) {
  transition-delay: 0.61s, 0.61s;
  z-index: 8;
}

.grid__list .item:hover .tags li:nth-child(6) {
  transition-delay: 0.65s, 0.65s;
  z-index: 7;
}
.grid__list .item:hover .tags li:nth-child(7) {
  transition-delay: 0.69s, 0.69s;
  z-index: 7;
}
.grid__list .item:hover .tags li:nth-child(8) {
  transition-delay: 0.73s, 0.73s;
  z-index: 7;
}
.grid__list .item:hover .tags li:nth-child(9) {
  transition-delay: 0.77s, 0.77s;
  z-index: 7;
}
.grid__list .item:hover .tags li:nth-child(10) {
  transition-delay: 0.81s, 0.81s;
  z-index: 7;
}

.grid__list .learn__more {
  position: absolute;
  height: auto;
  width: auto;
  bottom: 20px;
  padding: 5px;
  left: calc(50% - 40px);
  opacity: 0;
  z-index: 100;
  text-align: center;
  transform: translate3d(0, 20px, 0);
  transition: transform 0.225s cubic-bezier(0.65, 1.55, 0.5, 1.3) 0.9s,
    opacity 0.1s ease-out 0.9s;
  transition-delay: 0s;
}

.grid__list .item:hover .learn__more {
  transition-delay: 0.85s;
}

.grid__list .item:hover .tags li {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0) rotateX(0);
  -ms-transform: translate3d(0, 0, 0) rotateX(0);
  -webkit-transform: translate3d(0, 0, 0) rotateX(0);
  transform: translate3d(0, 0, 0) rotateX(0);
}

.grid__list .item:hover .tags:before,
.grid__list .item:hover .learn__more {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotateX(0);
}

.grid__list .hover__bgr {
  position: relative;
  left: 0;
  width: 100%;
  border-radius: 0;
  opacity: 0;
  z-index: 3;
  overflow: hidden;
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -moz-transform-style: flat;
  -webkit-transform-style: flat;
  transform-style: flat;
  transition: opacity 0.15s ease-out,
    transform 0.25s cubic-bezier(0, 0.75, 0, 1);
  transition-delay: 0.1s;
}

.grid__list .hover__bgr img {
  height: 100%;
}

.grid__list .hover__bgr:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primaryColor);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  opacity: 0.8;
}

.grid__list .item:hover .hover__bgr {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}
